body {
  background: #34736350;
}
* {
  font-family: 'Courier New';
}

.all-items {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.item {
  height: 600px;
  background: #347363;
  color: white;
  border-radius: 10px;
  border: 3px solid white;
  box-shadow: 0 0 8px black;
  transition: 0.2s ease-in-out;
}

.item:hover {
  background: #58c2a7;
  cursor: pointer;
}

.item h3, .item p {
  text-align: center;
}
.item img {
  width: 180px;
  height: 180px;
  background: white;
  overflow: hidden;
  transform: translateZ(20px);
}